<?xml version="1.0" encoding="gbk"?>
<config><iWidth>600</iWidth><iLength>1024</iLength><linphone_usename>6035@14.215.130.184:7087</linphone_usename><linphone_domain>sip:6035@14.215.130.184:7087</linphone_domain><linphone_pwd>invt+mixlinker</linphone_pwd><mqtt_address>211.154.146.60:1883</mqtt_address><mqtt_clientID>TJ20150902160935</mqtt_clientID><mqtt_topic>r</mqtt_topic><mqtt_QOS>0</mqtt_QOS><mqtt_timeout>10000</mqtt_timeout><mqtt_usename>gards</mqtt_usename><mqtt_pwd>mixlinker</mqtt_pwd><IP_addr>192.168.1.133</IP_addr><IP_mask>255.255.255.0</IP_mask><IP_gateway>192.168.1.0</IP_gateway><IP_DNS>192.168.0.20</IP_DNS><IP_mac>6A:80:76:0B:A1:C2</IP_mac></config>
