Package: data_router_com
Version: 1
Depends: libc, libpthread, librt
Source: package/data_router_com
Section: utils
Architecture: ar71xx
Installed-Size: 16663
Description:  If you can't figure out what this program does, you're probably
 brain-dead and need immediate medical attention.
